{
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.1.3",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all"
}