.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  height: calc(100vh - 32px);
}

.list__item {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(#e66465, #9198e5);
  border: 1px solid #ffffff;

  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}
