.box {
    position: relative;

    background-color: steelblue;
    border-radius: 12px;
    height: 200px;
    width: 200px;
}

.triangle-marker {
    left: 0;
    position: absolute;
    top: 0;

    background-color: orange;
    border-radius: 12px 0 0 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    height: 42px;
    width: 42px;
}