.list {
  background: rgba(0, 0, 0, 0.3);
  height: calc(100vh - 32px);
  margin: 0 auto;
  padding: 0 20px;
  width: 600px;
}

.list__item {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(#e66465, #9198e5);
  height: 100px;

  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}
